*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #ddd;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}